body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: radial-gradient(circle, #241800, #050505);
    color: white;
    text-align: center;
}

header {
    padding: 50px 20px;
    background: linear-gradient(#000, #3a2600);
    border-bottom: 3px solid #d4af37;
}

h1 {
    color: #ffd700;
    font-size: 42px;
    text-shadow: 0 0 15px #d4af37;
}

h2 {
    color: #ffd700;
}

.hero {
    margin: 30px auto;
    padding: 30px;
    max-width: 500px;
    background: rgba(0,0,0,0.7);
    border: 2px solid #d4af37;
    border-radius: 15px;
}

button {
    margin-top: 20px;
    padding: 15px 35px;
    background: #d4af37;
    color: black;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 0 20px #d4af37;
}

button:hover {
    transform: scale(1.05);
}

section {
    padding: 25px;
}

footer {
    margin-top: 40px;
    padding: 20px;
    background: #000;
    color: #aaa;
}
